<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php">
  <testsuites>
    <!--<testsuite name="Classicwr">
      <file>classicwr_inlineTagsTest.php</file>
      <file>classicwr_internalTest.php</file>
      <file>classicwr_blocksTest.php</file>
      <file>classicwr_inlineCamelCaseTest.php</file>
      <file>classicwr_inlineParserTest.php</file>
      <file>classicwr_seriesTest.php</file>
    </testsuite>-->
<!--
***
    <testsuite name="wr3">
        <file>wr3_blocksTest.php</file>
        <file>wr3_inlineParserTest.php</file>
        <file>wr3_inlinesTest.php</file>
        <file>wr3_primariesTest.php</file>
    </testsuite>

    <testsuite name="wr3 to docbook">
        <file>wr3_dbk_blocksTest.php</file>
        <file>wr3_dbk_inlinesTest.php</file>
        <file>wr3_dbk_primaryTest.php</file>
    </testsuite>
***
-->
    <testsuite name="Dokuwiki syntax">
      <file>dokuwiki_docbook_blocksTest.php</file>
      <file>dokuwiki_docbook_inlinesTest.php</file>
      <file>dokuwiki_xhtml_blocksTest.php</file>
    </testsuite>
<!--
    <testsuite name="trac syntax">
      <file>trac_blocksTest.php</file>
      <file>trac_inlinesTest.php</file>
    </testsuite>

    <testsuite name="phpwiki syntax">
      <file>phpwiki_dokuwiki_blocksTest.php</file>
      <file>phpwiki_dokuwiki_inlinesTest.php</file>
    </testsuite>
-->
  </testsuites>
</phpunit>
